{% extends './main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for prod in pd %}
        <div class="col-lg-4">
            <img class=thumbnail src="{{prod.ImageUrl}}" alt="images">
            <div class="box-element product">
                <h6><strong>{{ prod.name }}</strong></h6>
                <hr>
                <button data-product={{ prod.id }} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>
                    {{prod.price|floatformat:2}}
                </strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
